* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: #aa4b6b; /* Fallback gradient */
    background: -webkit-linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b);
    background: linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b);

    border-radius: 15px;
    padding: 30px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

h1 {
    margin-bottom: 20px;
    font-size: 2rem;
    color: white;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
    transition: transform 0.3s ease;
    cursor: pointer;
}

h1:hover {
    transform: scale(1.2);
}

.btn {
    padding: 10px 20px;
    margin-top: 20px;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
    background-color: transparent;
    transition:transform 0.3s ease;
    cursor: pointer;
}

.btn:hover {
    background-color: rgba(255, 255, 255, 0.3);
    transform: scale(1.1);
}

